* { 
    /* outline: 1px dotted red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    outline: 1px dotted red;
    margin: 0 auto;
    margin-top: 100px;
    width: 1000px;
    height: 1000px;

    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.container div {
    border: 1px solid black;
    text-align: center;
}
/* 
.container div:hover {
    background-color: blue;
} */